<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TrainItLibrary.Properties.Settings.TrainITConnectionString"
            connectionString="Data Source=HPDESPACHO\SQLSERVER1;Initial Catalog=TrainIT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>