<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrainItLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TrainItLibrary.Properties.Settings.TrainITConnectionString"
            connectionString="Data Source=HPDESPACHO\SQLSERVER1;Initial Catalog=TrainIT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <TrainItLibrary.Properties.Settings>
            <setting name="appUser" serializeAs="String">
                <value>admin</value>
            </setting>
        </TrainItLibrary.Properties.Settings>
    </applicationSettings>
</configuration>